<style>
    .red {
        background-color: red;
    }
</style>
<div class="ui container">
    <div class="ui grid">
        <div class="row" style="height:100vh">
            <div class="ui middle aligned centered four wide column" style="min-width: 300px">
                <form #loginForm="ngForm">
                    <div class="ui grid raised segment padded" [class.loading]="testingLogin">
                        <div class="ui top attached label">Please enter a User ID and Password</div>
                        <div class="ui row column top">
                            <img class="ui centered image" style="position:relative;left:5px;height:5rem;" src="./assets/img/Logo.jpg" alt="Tonic Logo">
                        </div>
                        <div class="ui centered row input">
                            <input placeholder="User ID" type="email" email required [(ngModel)]="login" name="txtLogin" id="IMALogin" #txtLogin />
                        </div>
                        <div class="ui centered row input" [class.error]="txtPassword">
                            <input placeholder="Password" type="password" [(ngModel)]="password" name="txtPassword" minlength="4" required (keyup.enter)="tryLogin()" />
                        </div>
                        <div class=" ui centered row ">
                            <button #loginButton (click)="tryLogin()" class="ui fluid green basic button" [class.disabled]="
                !loginForm.valid ">Login</button>
                            <div [hidden]="!badLogin " class="ui fluid small red message ">Invalid Username or Password!</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
