  <div class="ui grid">
  <div class="four wide column">
<table class="table table-bordered">
  <thead>
    <tr><th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Method</th>
    <th>Confirmation</th>
    <th>Notes</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>1-2-17</td>
      <td>None</td>
      <td>15</td>
      <td>Cash</td>
      <td>yes</td>
      <td>-</td>
    </tr>
    <tr>
      <td>1-2-17</td>
      <td>None</td>
      <td>15</td>
      <td>Credit Card</td>
      <td>yes</td>
      <td>-</td>
    </tr>
    <tr>
      <td>1-2-17</td>
      <td>None</td>
      <td>15</td>
      <td>Cash</td>
      <td>yes</td>
      <td>-</td>
    </tr>
   <tr>
      <td>1-2-17</td>
      <td>None</td>
      <td>15</td>
      <td>Cash</td>
      <td>yes</td>
      <td>-</td>
    </tr>
</tbody></table>

</div>

</div>
