<div class="ui fluid">
  <table class="ui celled table">
    <thead>
    <tr>
      <th (click)="sortByColumn('Date')">
        Date
      </th>
      <th (click)="sortByColumn('Description')">
        Description
      </th>
      <th (click)="sortByColumn('Amount')">
        Amount
      </th>
      <th (click)="sortByColumn('Method')">
        Method
      </th>
      <th (click)="sortByColumn('Confirmation')">
        Confirmation
      </th>
      <th (click)="sortByColumn('Notes')">
        Notes
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of data | orderBy: sortColumn">
      <td>
        {{member.Date}}
      </td>
      <td>
        {{member.Description}}
      </td>
      <td>
        {{member.Amount}}
      </td>
      <td>
        {{member.Method}}
      </td>
      <td>
        {{member.Confirmation}}
      </td>
      <td>
        {{member.Notes}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

