<div class="ui grid container">
		<div class="sixteen wide column">
			<fieldset>
				<legend>Testing Member Details</legend>
				<app-member-details></app-member-details>
			</fieldset>
		</div>
		<div class="twelve wide column">
		<!-- MAIN CONTENT COLUMN -->
			<fieldset>
				<legend>Testing Member Plans</legend>
				<app-member-plans></app-member-plans>
			</fieldset>
			<fieldset>
				<legend>Testing Member Keys</legend>
				<app-member-keys></app-member-keys>
			</fieldset>
			<fieldset>
				<legend>Testing Member Payments</legend>
				<app-member-payments></app-member-payments>
			</fieldset>
		</div>
	
		<div class="four wide column">
			<!-- SIDE BAR COLUMN -->
			<fieldset>
				<legend>Testing Member Picture</legend>
				<app-member-picture></app-member-picture>
			</fieldset>
		</div>
</div>