<div class="ui grid container">
		<div class="sixteen wide column">
			<fieldset>
				<legend>TEST Member Details PLEASE IGNORE</legend>
				<app-member-details></app-member-details>
			</fieldset>
		</div>
		<div class="twelve wide column">
		<!-- MAIN CONTENT COLUMN -->
			<fieldset>
				<legend>TEST Member Plans PLEASE IGNORE</legend>
				<app-member-plans></app-member-plans>
			</fieldset>
			<fieldset>
				<legend>TEST Member Keys PLEASE IGNORE</legend>
				<app-member-keys></app-member-keys>
			</fieldset>
			<fieldset>
				<legend>TEST Member Payments PLEASE IGNORE</legend>
				<app-member-payments></app-member-payments>
			</fieldset>
		</div>
	
		<div class="four wide column">
			<!-- SIDE BAR COLUMN -->
			<fieldset>
				<legend>TEST Member Picture PLEASE IGNORE</legend>
				<app-member-picture></app-member-picture>
			</fieldset>
			<fieldset>
				<legend>TEST Member Stats PLEASE IGNORE</legend>
				<app-member-stats></app-member-stats>
			</fieldset>
		</div>
</div>